/mods
/local
/saves
/logs
/resourcepacks
rhino.local.properties
usercache.json
usernamecache.json
options.txt
/.mixin.out
/crash-reports
emi.json
emi.json
instance.json
disabledmods/dndecor-2.1.0.jar
/disabledmods
/screenshots
config/oculus.properties
config/oculus.properties
config/woodencog-common-1.toml.bak
config/woodencog-common-2.toml.bak
config/oculus.properties
emi.json
patchouli_data.json
